@model MVCFileUpload.Models.MultiFileModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Multiple File Upload</h1>
    <p class="lead">This is the multiple file upload page</p>
</div>

<div class="row">
    @using (Html.BeginForm("MultiFileUpload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table>
            <tr>
                <td>User Name:</td>
                <td>@Html.EditorFor(m => Model.UserName)</td>
            </tr>
            <tr>
                <td>User Age:</td>
                <td>@Html.EditorFor(m => Model.Age)</td>
            </tr>
        </table>
        
        @Html.Action("EditorList", "Document", new { ModelName = "Items", PropertyName  = "File", Limit = 3 })
        <input type="submit" name="Submit" value="Send" />
    }
</div>
